* text=auto eol=crlf

*.cs text diff=csharp
*.xaml text
*.csproj text
*.sln text
*.md text
*.json text
*.props text
*.mdc text
*.py text

*.ico binary
*.png binary
*.dll binary
*.exe binary
*.pdb binary
